<div class="dc">
  <mat-form-field>
    <input matInput placeholder="Document id" type="number" [disabled]="!isEditable" [(ngModel)]="documentId">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Document title" type="text" [disabled]="!isEditable" [(ngModel)]="documentName">
  </mat-form-field>
  <mat-form-field class="party-card__content_field" *ngIf="isEditable">
    <input matInput [matDatepicker]="datePicker" placeholder="Document date"
           [(ngModel)]="documentDate">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker [disabled]="!isEditable"></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="!isEditable">
    <input matInput placeholder="Document date" type="text" [disabled]="!isEditable" [(ngModel)]="documentDate">
  </mat-form-field>
  <button *ngIf="isEditable"
          mat-raised-button
          color="primary"
          (click)="putDocument()">Put document</button>

</div>
